.home-container {
    text-align: center;
    padding: 50px 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 1500px;
}

.home-container h1 {
    font-size: 4rem;
    color: #333;
    margin-bottom: 50px;
}

.home-container p {
    font-size: 3rem;
    color: #333;
    margin-bottom: 40px;
}

.role-links {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.role-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b286d;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 2rem;
    transition: background-color 0.3s ease;
}

.role-link:hover {
    background-color: #6c3483;
}